@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.aa {
  min-height: 1000px;
  width: 100%;
  background-image: url(ressources/Images/image\ 7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
  padding: 20px 7%;
}

.logo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-links li {
  list-style: none;
  padding: 0px 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
}

.nav-links a:hover {
  color: #4bb7ff;
}

.container {
  padding: 0px 35px;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 90%;
  height: 300px;
  border-radius: 35px;
  box-shadow:
    #3e8cbf30 0px 10px 20px,
    #3e8cbf3b 0px 6px 6px;
}

.text {
  height: 130px;
  width: 100%;
}

.text h2 {
  font-size: 70px;
  color: #008ec4;
  font-weight: 600;
}

.text p {
  font-size: 30px;
  /* line-height: 3px; */
}

.items {
  border: 1px solid #a9a9a9;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 80px;
  margin: 50px 0;
}

.ele {
  height: 40px;
  width: 20%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 25px;
  border-left: 1px solid #a9a9a9;
}

.bar {
  border-left: none;
}

.ele i {
  font-size: 40px;
  color: #a9a9a9;
}

.ele div h2 {
  font-size: 20px;
  font-weight: 600;
}

.ele div p {
  color: #8c8c8c;
}

#search {
  color: #fff;
  font-size: 35px;
  height: 60px;
  width: 60px;
  background-color: #008ec4;
  border-radius: 50%;
  padding: 11px 0;
}

.main {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 190px 0 60px 0;
  font-size: 55px;

  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px 0px 80px 0px; */
}

.feature {
  margin: 0 auto;
  height: 400px;
  width: 80%;
  text-align: center;
}

.row {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.element {
  flex-basis: 31%;
  border-radius: 10px;
  width: 80%;
  height: 200px;
  padding: 40px 10px;
}

.element i {
  margin-bottom: 10%;
  background-color: #eef9fe;
  height: 75px;
  width: 75px;
  font-size: 35px;
  border-radius: 10px;
}

.element .fa-solid {
  padding: 20px;
  color: #008ec4;
}

.element h3 {
  font-size: 23px;
  margin-bottom: 12px;
  text-align: center;
}

.element p {
  text-align: center;
}

.main-1 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 19px 0px 10px;
  font-size: 55px;
  margin: 0 auto;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  padding: 30px 0px 64px;
}

.svg-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.reservation h3 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 19px 0px 10px;
  font-size: 55px;
  margin: 0 auto;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0px 0px 15px 0px;
}

.card {
  width: 260px;
}

.img-wrapper {
  position: relative;
}

.img-wrapper img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 12px;
}

.badge {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #414c5b;
  opacity: 0.8;
  border-radius: 8px;
  padding: 4px 8px;
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.info span {
  font-size: 17px;
  font-weight: 700;
  padding: 5px 0;
}

.btn1 {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4px 0 0 0;
  font-size: 20px;
  text-decoration: none;
  color: #000;
      border-radius: 35px;
      border: 1px solid;
    width: 15%;
    height: 40px;
}




/* .element{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 60%;
  border: 1px solid #000;
} */

/* .container h4{
  color: #3E8CBF;
  font-size: 75px;
  font-weight: 500;
  padding: px 0;
}

.container p{
    font-size: 30px;
    font-weight: 500;
}

.sreach-bar form{
  border: 1px solid #848282;
  width: 70%;
  margin: 30px auto;.container h4{
  color: #3E8CBF;
  font-size: 75px;
  font-weight: 500;
  padding: px 0;
}

.container p{
    font-size: 30px;
    font-weight: 500;
}

.sreach-bar form{
  border: 1px solid #848282;
  width: 70%;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
} */
