@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.aa {
  min-height: 1000px;
  width: 100%;
  background-image: url(ressources/Images/image\ 7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
  padding: 20px 7%;
}

.logo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-links li {
  list-style: none;
  padding: 0px 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
}

.nav-links a:hover {
  color: #4bb7ff;
}

.container {
  padding: 0px 35px;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 78%;
  height: 300px;
  border-radius: 35px;
  box-shadow:
    #3e8cbf30 0px 10px 20px,
    #3e8cbf3b 0px 6px 6px;
}

.text {
  height: 130px;
  width: 100%;
}

.text h2 {
  font-size: 70px;
  color: #008ec4;
  font-weight: 600;
}

.text p {
  font-size: 30px;
  /* line-height: 3px; */
}

.items {
  border: 1px solid #a9a9a9;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 80px;
  margin: 50px 0;
}

.ele {
  height: 40px;
  width: 25%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 55px;
  border-left: 1px solid #a9a9a9;
}

.bar {
  border-left: none;
}

.ele i {
  font-size: 40px;
  color: #a9a9a9;
}

.ele div h2 {
  font-size: 20px;
  font-weight: 600;
}

.ele div p {
  color: #8c8c8c;
}

#search {
  color: #fff;
  font-size: 35px;
  height: 60px;
  width: 60px;
  background-color: #008ec4;
  border-radius: 50%;
  padding: 11px 0;
}

.main {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 190px 0 60px 0;
  font-size: 55px;

  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px 0px 80px 0px; */
}

.feature {
  margin: 0 auto;
  height: 400px;
  width: 80%;
  text-align: center;
}

.row {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.element {
  flex-basis: 31%;
  border-radius: 10px;
  width: 80%;
  height: 200px;
  padding: 40px 10px;
}

.element i {
  margin-bottom: 10%;
  background-color: #eef9fe;
  height: 75px;
  width: 75px;
  font-size: 35px;
  border-radius: 10px;
}

.element .fa-solid {
  padding: 20px;
  color: #008ec4;
}

.element h3 {
  font-size: 23px;
  margin-bottom: 12px;
  text-align: center;
}

.element p {
  text-align: center;
}

.main-1 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 19px 0px 10px;
  font-size: 55px;
  margin: 0 auto;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  padding: 30px 0px 64px;
}

.svg-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.reservation h3 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 19px 0px 10px;
  font-size: 55px;
  margin: 0 auto;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0px 0px 15px 0px;
}

.card {
  width: 260px;
}

.img-wrapper {
  position: relative;
}

.img-wrapper img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 12px;
}

.badge {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #414c5b;
  opacity: 0.8;
  border-radius: 8px;
  padding: 4px 8px;
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.info span {
  font-size: 17px;
  font-weight: 500;
  padding: 5px 0;
}

.elemnt3 {
  color: #0e0d0da6;
  font-size: 14px;
}

.btn1 {
  display: flex;
  align-items: center; /* centre verticalement */
  justify-content: center; /* centre horizontalement le texte */
  gap: 8px; /* espace entre "See all" et la flèche */
  margin: 30px auto; /* centre le bouton dans la page */
  width: 168px;
  height: 48px;
  text-decoration: none;
  border-radius: 35px;
  border: 1px solid #a9a9a985;
}

.btn1 a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.hero1 {
  background-image: url(ressources/Images/image\ 13.png);
  background-position: center;
  background-size: cover;
  padding: 65px 155px;
  color: #fff;
  height: 850px;
}

.hero1 h1 {
  font-size: 100px;
  font-weight: 900;
  margin: 0px;
  padding-top: 80px;
}

.hero-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 24px 0;
}

hr {
  margin: 55px auto;
}

.left {
  max-width: 400px;
  margin-bottom: 100px;
}

.left p {
  margin-bottom: 85px;
}
.btn2 {
  background: white;
  color: black;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 35px;
  font-size: 16px;
}

.right {
  display: flex;
  gap: 45px;
}

.dstination img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 45px;
  display: block;
  padding: 10px 0;
}

.dstination span {
  display: inline;
  font-size: 20px;
  margin-top: 8px;
  font-weight: 600;
}

.arrows .un {
  font-size: 40px;
  border: 1px solid #a9a9a9;
  border-radius: 15px;
  display: inline-block;
  width: 55px;
  height: 60px;
  color: #414c5b;
}

.news {
  margin: 40px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 45px;
  gap: 55px;
}

.news h2 {
  font-weight: 600;
}

/* Grille des 3 cartes */
.news-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 85px auto;
  width: 68%;
}

/* Carte */
.news-card {
  flex: 1;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.news-card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.news-body {
  padding: 20px;
}
.news-body {
  padding: 20px;
}

.news-body span {
  color: #888;
  font-size: 14px;
}

.news-body h3 {
  margin: 8px 0;
  font-size: 20px;
}

.news-body p {
  color: #555;
  font-size: 14px;
  margin-bottom: 16px;
}

.news-body a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
